@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}

.bg-card-img{
  position: relative;
  padding:  1rem 1rem 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.bg-card-img img{
  width: 120px;
  height: 110px;
  z-index: 101;
}
.card{
  position: relative;
  /* background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% ); */
  background-color: #f7f7f7;
  box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
  transition: all .4s ease;
}

.card:hover{
  transform: translateY(-6px);
}
.card-back{
  position: absolute;
  background-color: #0093E9;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-top{
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  width: 100.3%;
  height: 80%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  top: -20px;
  right: 0px;
}

.card-title{
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  color: #686868;
  transition: all .2s;
  margin-bottom: 1.2rem;
}
.btn-pokemon{
  display: block;
  width: 140px;
  padding: .7rem 0rem;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  border-radius: 10rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 5px 8px -1px #515151c6;
  
}

.btn-pokemon:hover{
  color: white;
}


.num-pokemon{
  font-size: 1.2rem;
  color: #b0b0b0;
  text-align: center;
}
.container__paginador{
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.paginador{
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
  justify-content: center;
  padding: .05rem .7rem;
  border-radius: 1.5rem;
  background-color: #ffffff;
  box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
}

.paginador a{
  padding:0 1rem;
  font-size: 1.05rem;
  color: #0093E9;
  text-decoration: none;
  font-weight: 600;
  transition: all 0s;
}

.paginador a.active{
  position: relative;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding: .6rem 1rem;
  border-radius: 50%;
  font-size: 1.3rem;
  color: white;
  top: 0px;
  box-shadow: 1px 1px 15px -5px #0094e9d0;
  z-index: 1001;
  margin: 0 .7rem;
}



.paginador .next,
.paginador .back{
  font-size: 1.3rem;
  font-weight: 700;
  color:  #0094e9d0;
  z-index: 1001;
  padding: 0;
  border: none;
  background-color: white;
}
/*ola background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);*/