@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body,#root{
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
img{
  max-width: 100%;
}

.logo{
  width: 130px;
}

.navbar{
  box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
}
.containers{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.bg-card-img{
  position: relative;
  padding:  1rem 1rem 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.bg-card-img img{
  width: 120px;
  height: 110px;
  z-index: 101;
}
.card{
  position: relative;
  /* background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% ); */
  background-color: #f7f7f7;
  box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
  transition: all .4s ease;
}

.card:hover{
  transform: translateY(-6px);
}
.card-back{
  position: absolute;
  background-color: #0093E9;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-top{
  width: 100.3%;
  height: 80%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  top: -20px;
  right: 0px;
}

.water{
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.bug{
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.fire{
  background-color: #FAD961;
background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
}

.grass{
  background-image: linear-gradient( 109.6deg,  rgba(24,138,141,1) 11.2%, rgba(96,221,142,1) 91.1% );
}
.normal{
  background-image: radial-gradient( circle 674px at 18.3% 77%,  rgba(139,186,244,1) 3.4%, rgba(15,51,92,1) 56.6% );
}

.poison,.ice{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
}

.fairy{
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.electric,.ground,.psychic{
  background-image: radial-gradient( circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );
}

.fighting{
  background-image: radial-gradient( circle 911px at 0.4% 50.5%,  rgba(187,68,48,1) 18.7%, rgba(21,30,33,1) 90% );
}

.rock{
  background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
}

.ghost{
  background-image: linear-gradient( 358.7deg,  rgba(42,136,157,1) 1.7%, rgba(122,197,214,1) 51.1%, rgba(211,232,242,1) 95.5% );
}


.card-title{
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  color: #686868;
  transition: all .2s;
  margin-bottom: 1.2rem;
}
.btn-pokemon{
  display: block;
  width: 140px;
  padding: .7rem 0rem;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  border-radius: 10rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 5px 8px -1px #515151c6;
  
}

.btn-pokemon:hover{
  color: white;
}


.num-pokemon{
  font-size: 1.2rem;
  color: #b0b0b0;
  text-align: center;
}
.container__paginador{
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.paginador{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
  padding: .05rem .7rem;
  border-radius: 1.5rem;
  background-color: #ffffff;
  box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
}

.paginador a{
  font-size: 1.05rem;
  background-color: #0093E9;
  width: 5rem;
  height: 2rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0s;
}

.paginador .active{
  position: absolute;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  border: none;
  width: 2.9rem;
  height: 3rem;
  border-radius: 50%;
  top: -6px;
  box-shadow: 1px 1px 15px -5px #0094e9d0;
  z-index: 1005;
  margin: 0 .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  outline: none;
}

.paginador .next,
.paginador .back{
  font-size: 1.3rem;
  font-weight: 700;
  color:  #0094e9d0;
  z-index: 1001;
  padding: 0;
  border: none;
  background-color: white;
}

.paginador .next{
  padding-left: 4rem;
}

.content__img{
  border: 1px solid rgb(255, 255, 255);
  border-radius:1rem ;
 width: 100%;
 height: 200px;
 display: flex;
 justify-content: center;
 align-items: flex-end;

}

.img__principal{
  height: 190px;
}

.galeria{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1rem;
  position: relative;
  z-index: 1005;
}

.galeria .image__opcion{
  width: 55px;
  height: 55px;
  border: 1px solid #838282;
  border-radius: .2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: .5rem;
  margin-top: .8rem;
  transition: all .2s;
}

.galeria .image__opcion.active{
  content: '';
  background-color:rgba(109, 109, 109, 0.438) ;
  border: 1px solid #F7F7F7;
}

.galeria a img{
  width: 73px;
  z-index: -101;
}

.galeria .image__opcion.prime{
  width: 50px;
  padding: .3rem .2rem 0 .2rem;
}

.w-45{
  width: 45%;
}

@media(max-width:1100px){
  .w-60{
    width: 55%;
  }
}

.title{
  font-size: 2rem;
  color: #484848;
}

.content-bar{
  margin-top: .7rem;
}

.content-progess{
  position: relative;
  background: #48484855;
  width: 100%;
  height: .7rem;
  border-radius: 1rem;
}

.content-progess .bar__progress{
  position: absolute;
  width: 80%;
  height: 100%;
  border-radius: 1rem;
}

.content-progess .porcent{
  position: absolute;
  background-color: #484848;
  top: -30px;
}
.stat{
  margin: 0;
  font-weight: 800;
  color: #525252;
  text-transform: uppercase;
  font-size: .75rem;
}
.porcent{
  font-weight: 700;
  color: #525252;
  font-size: .85rem;
}

.text{
    text-transform: uppercase;
    font-family: verdana;
    font-size: 1.8em;
    font-weight: 700;
    color: #484848; 
}

.round-progess{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  background-color: #ffffff;
  padding: .2rem;
  box-shadow: 2px 2px 5px rgba(27, 27, 27, 0.196),
  0px -1px 3px rgba(27, 27, 27, 0.278), 
  inset 0px -1px 3px rgba(27, 27, 27, 0.459);
}

.circle__progress{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #eef2f4;
}

.informacion__pokemon{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5rem 0;
}

.tipo__informacion{
  text-align: center;
  line-height: .2rem;
  color: #585858;
}

.tipo__informacion span{
  font-weight: 700;
  font-size: .8rem;
}
.tipo__informacion p{
  font-size: 1rem;
}

/*Content Footer*/
.content__footer{
  position: relative;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  padding: 3rem 0 3rem 0;
  margin-top: 5rem;
  box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
}

.information__footer{
  text-align: center;
  line-height: .7rem;
}
.author{
  font-size: 1.2rem;
  font-weight: 700;
  color: #484848;
}

.content__social__media{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.social__media{
  position: relative;
  border: 1px solid rgb(58, 58, 58);
  padding: .65rem .7rem;
  margin-right:1.1rem ;
  transform: rotate(45deg);
  transition: all .3s;
  overflow: hidden;
}
.social__media:nth-child(1)::after{
  content: '';
  position: absolute;
  top: 47px;
  left: 0;
  bottom: 100px;
  right: 100px;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  transition: all .3s;
}

.social__media:hover:after{
  top: 0px;
  left: 0;
  bottom: 100px;
  right: 100px;
}

.icon__social{
  color: rgb(221, 221, 221);
  font-size: 1.4rem;
  transform:  rotate(-45deg);
  position: relative;
  z-index: 1001;
}
/*ola background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);*/